@font-face {
    font-family: 'Starborn';
    src: url('https://raw.githubusercontent.com/PlasticSpatula/PlasticSpatula.github.io/blob/main/Starborn.ttf');
    font-weight: 100;
    font-style: normal;
} 
